<div class="container">
  <div class="card-deck pt-sm-0 pt-3">
    <div class="card mt-sm-4">
      <div class="card-body text-center">
        <i class="fal fa-cow"></i>
        <a [routerLink]="['/recipes','beef']">Beef</a>
      </div>
    </div>
    <div class="card mt-sm-4">
      <div class="card-body text-center">
        <i class="far fa-pig"></i>
        <a [routerLink]="['/recipes','pork']">Pork</a>
      </div>
    </div>
  </div>
  <div class="card-deck pb-sm-4 pb-1">
    <div class="card mt-sm-4">
      <div class="card-body text-center">
        <i class="far fa-drumstick-bite"></i>
        <a [routerLink]="['/recipes','beef']">Chicken</a>
      </div>
    </div>
    <div class="card mt-sm-4">
      <div class="card-body text-center">
        <i class="far fa-carrot"></i>
        <a [routerLink]="['/recipes','vegan']">Vegan</a>
      </div>
    </div>
  </div>
</div>
