<nav>
  <div class="d-flex justify-content-end">
    <a
      *ngIf="query !== 'beef'"
      [routerLink]="['/recipes','beef']"
      class="nav-item nav-link active"
    >
      <i class="fal fa-cow"></i> Beef</a
    >
    <a
      *ngIf="query !== 'chicken'"
      [routerLink]="['/recipes','chicken']"
      class="nav-item nav-link"
    >
      <i class="far fa-drumstick-bite"></i> Chicken
    </a>
    <a
      *ngIf="query !== 'pork'"
      [routerLink]="['/recipes','pork']"
      class="nav-item nav-link"
    >
      <i class="far fa-pig"></i> Pork
    </a>
    <a
      *ngIf="query !== 'vegan'"
      [routerLink]="['/recipes','vegan']"
      class="nav-item nav-link"
    >
      <i class="far fa-carrot"></i> Vegan
    </a>
  </div>
</nav>
